* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

div {
    height: 33.33vh;
}

::placeholder {
    color: white;
}

input[type=number] {
    color: black;
    background-color: blue;
    font-size: 88px;
    height: 100%;
    width: 100%;
    text-align: center;
}